@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: Wagon;
  src: url("../public/fonts/Wagon/Wagon/Wagon-ExtraLight.otf");
}

@font-face {
  font-family: WagonI;
  src: url("../public/fonts/Wagon/Wagon/Wagon-ExtraLightItalic.otf");
}

@font-face {
  font-family: WagonB;
  src: url("../public/fonts/Wagon/Wagon/Wagon-Bold.otf");
}

@font-face {
  font-family: Armate;
  src: url("../public/fonts/Amarante/Amarante-Regular.ttf");
}

@font-face {
  font-family: Neue;
  src: url("../public/fonts/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-Regular.otf");
}

@font-face {
  font-family: NeueT;
  src: url("../public/fonts/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-Light.otf");
}

@layer components {
  .phone {
    @apply lg:hidden block;
  }
  .phoneCol {
    @apply lg:hidden flex flex-col;
  }
  .tab {
    @apply hidden lg:block;
  }
  .hoverG {
    @apply hover:bg-gray-200 duration-300;
  }
  .r {
    @apply relative;
  }
  .a {
    @apply absolute;
  }
  .btn {
    @apply font-Climate border-2 rounded-full text-sm w-fit p-3 text-white;
  }
}

.ticky {
  position: -webkit-sticky; /* for Safari */
  position: sticky;

  align-self: flex-start;
}
.dewIt {
  animation: progress-bar 2s;
}

@keyframes progress-bar {
  0% {
    width: 400px;
  }
  100% {
    width: 450px;
  }
}

.relWidth {
}

.TarHead {
  font-size: 18vw;
}

.questionSiz {
  font-size: 7vw;
}

.siz {
  width: 97vh;
  height: 97vh;
}

.allSize {
  font-size: 10vw;
}

.overlay1 {
  /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100vh; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.otherTar {
  font-size: 15vw;
}
.otherTar1 {
  font-size: 10vw;
}

.screenH {
  height: 110vh;
}

.TarR {
  font-size: 6vw;
}
.TarSyn {
  font-size: 4vw;
}
.TarQ {
  font-size: 1.7vw;
}

.dotW {
  font-size: 20vw;
}

@font-face {
  font-family: Climate;
  src: url("../public/fonts/Climate_Crisis/ClimateCrisis-Regular-VariableFont_YEAR.ttf");
}

@font-face {
  font-family: BabylonH;
  src: url("../public/fonts/babylon5hollow/babylon5hollow.ttf");
}

@font-face {
  font-family: Domino;
  src: url("../public/fonts/dominos-blast-font-1678348987-0/dominosblast-lg01y.ttf");
}

.castT {
  font-size: 2vw;
}

.castH {
  height: 150vh;
}

.boxT {
  height: 16vw;
}

.letterW {
  font-size: 15vw;
}
.hTar {
  height: 120vh;
}

.TarCross {
  height: 55vw;
  width: 55vw;
}

.mH {
  height: 100vh;
}

.grit {
  -webkit-mask-image: url("../public/grit.png");
  mask-image: url("../public/grit.png");
}
.dirt {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/dirty-old-black-shirt.png");
}

.point-burst {
  background: rgb(0, 0, 0);
  width: 10vw;
  height: 10vw;
  position: relative;
  text-align: center;
  transform: rotate(20deg);
  border-radius: 10px;
}
.point-burst:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10vw;
  width: 10vw;
  background: rgb(0, 0, 0);
  transform: rotate(135deg);
  border-radius: 10px;
}

.SH {
  height: 80vw;
}

.hS {
  height: 10vw;
  font-size: 10vw;
}

.hS1 {
  width: 10vw;
  font-size: 10vw;
}

.AboutT {
  font-size: 14vw;
}

.AboutTSc {
  transform: scaleY(1.3);
  transform: scaleX(1.1);
  transform: skewX(-10deg);
}

.gridF {
  font-size: 1.2vw;
}
.gridF1 {
  font-size: 4vw;
}

.isM {
  font-size: 6vw;
}
.isM1 {
  font-size: 10vw;
  line-height: 70%;
}

.isMB {
  font-size: 7vw;
}

.isMBB {
  font-size: 10vw;
}

.isMBM {
  font-size: 7vw;
}

.borin {
  font-size: 8.6vw;
}

.oScale {
  transform: scaleX(2);
}
.diff {
  letter-spacing: 0.6vw;
}

@font-face {
  font-family: Music;
  src: url("../public/fonts/music-vibes-font-1678416291-0/musicvibes-bwwrn.otf");
}

@font-face {
  font-family: Oddval;
  src: url("../public/fonts/oddval-font-family-1678415886-0/Fontspring-DEMO-oddvalvariable-BF640a8b013ea54.ttf");
}

@font-face {
  font-family: tOdd;
  src: url("../public/fonts/oddval-font-family-1678415886-0/Fontspring-DEMO-oddval-extrabold-BF640a8b02c2e62.otf");
}

@font-face {
  font-family: NeueI;
  src: url("../public/fonts/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-LightItalic.otf");
}

@font-face {
  font-family: NeueLI;
  src: url("../public/fonts/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-Italic.otf");
}
@font-face {
  font-family: NeueBI;
  src: url("../public/fonts/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-BoldItalic.otf");
}

@font-face {
  font-family: OddL;
  src: url("../public/fonts/oddval-font-family-1678415886-0/Fontspring-DEMO-oddval-light-BF640a8b028a7ac.otf");
}

@font-face {
  font-family: OddT;
  src: url("../public/fonts/oddval-font-family-1678415886-0/Fontspring-DEMO-oddval-thin-BF640a8b02a5623.otf");
}

@font-face {
  font-family: OddM;
  src: url("../public/fonts/oddval-font-family-1678415886-0/Fontspring-DEMO-oddval-medium-BF640a8b02b5791.otf");
}

.behindImage {
  mix-blend-mode: difference;
}

.cold {
  color: #0d06c4;
}

.exlS {
  font-size: 1.2vw;
}

.musicP {
  font-size: 5vw;
  line-height: 90%;
}

.timeF {
  font-size: 5vw;
}

.lH {
  line-height: 87%;
}
.gridBg {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.otherGrid {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

@font-face {
  font-family: PvcB;
  src: url("../public/fonts/pvc-font-family-1678532803-0/pvc-bannerultra-trial.otf");
}
@font-face {
  font-family: PvcI;
  src: url("../public/fonts/pvc-font-family-1678532803-0/pvc-dynastyitalic-trial.otf");
}

.lS {
  line-height: 100%;
}

.wavy-text {
  filter: url("#wavy");
}

.ActH {
  height: 400vh;
}

.AwardH {
  height: 200vh;
}

.HorH {
  height: 120vh;
}

.LET {
  line-height: 120%;
}

.noneShade {
  mix-blend-mode: initial;
}

.CreditsText {
  line-height: 90%;
}

@media screen and (min-width: 768px) {
  .lH {
    line-height: 78%;
  }
}
